# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Android
*.apk
*.ap_
*.dex
bin/
gen/
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/
*.jks
*.keystore

# IDE
.vscode/
!YOLOv5/.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Test 폴더 제외
imsi/

# Edge_System (YOLOv5)
Edge_System/runs/
Edge_System/weights/
Edge_System/*.pt
Edge_System/*.onnx
Edge_System/*.engine
Edge_System/*.mlmodel
Edge_System/*.tflite
Edge_System/wandb/
Edge_System/.git/
Edge_System/venv/
Edge_System/data/images/
Edge_System/data/videos/
Edge_System/data/*.cache
Edge_System/data/coco/
Edge_System/data/coco128/
Edge_System/*.zip
Edge_System/*.tar/
Edge_System/*.tar.gz
Edge_System/.env