{% extends 'blog/base.html' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">
                <h3 class="panel-title">📷 사진으로 기록하기</h3>
            </div>
            <div class="panel-body">
                <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                        <label for="id_image">사진 업로드</label>
                        {{ form.image }}
                        <p class="help-block">공부하는 모습이나 책상을 찍어주세요. AI가 자동으로 분석합니다.</p>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">업로드 및 분석 시작</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}